<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banka_Test.Properties.Settings.DbBankaTestConnectionString"
            connectionString="Data Source=DESKTOP-F1A12T8\KORAY;Initial Catalog=DbBankaTest;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>